.buttonStyle{
    background: url("../../../public/arrow_forward.svg") center no-repeat ;
    background-size: cover;
    width:25px;
    height: 15px;
    border: none;
}

.wrapper{
    width: 100%;
}
