.modalBack{
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 200;
    left: 0;
    background-color: rgba(210, 68, 85, 0.2);
    backdrop-filter: blur(2px);
    display: flex;
}

.none{
    display: none;
}
.modalWrap1{
    position: absolute;
    width: 75%;
    margin: auto;
    top: 0;
    right:0;
    left:0;
    bottom: 0;
    height: 60%;
    padding: 5px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}


.close{
    font-size: 50px;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    cursor: pointer;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;

}

