.sliderControl{
    border-radius: 50%;
    width:20px;
    height:20px;
    background-color:white;
    box-shadow: inset 0 0 7px #040300;
}


.sliderLine{
    border-radius: 10px;
    background: linear-gradient(to right , white , rgb(92, 89, 89));
    height: 10px;
    box-shadow: inset 0 0 2px #040300;
}